#carousel-example-generic {
	max-width: 1170px;
	margin: 0 auto;
}

#product {
	max-width: 375px;
}

.col-1-2 {
	padding-bottom: 5px;
}

body {
	background-color: #f3f3f3;
	color: #343a41;
	font-family: 'Amatica SC', cursive;
}

header h1 {
	font-size: 48px;
	color: #014e6d;
	font-weight: 900;
	display: inline-block;
	margin-left: 10px;
}

header nav {
	text-align: right;
	padding: 1.9em 0;
}

nav a {
	color: #343a41;
	font-size: 28px;
	padding: 0 5px;
	text-decoration: none;
	display: inline-block;
	border-right: 1px solid #014e6d;
	padding: 10px;
}

nav a:hover {
	color: #014e6d;
}

nav a:last-child {
	border-right: none;
}

.name {
	display: relative;
}

.menu {
	display: none;
  	position: absolute;
  	right: 25px;
  	padding: 24px 0;
  	cursor: pointer;
}

.hamburger {
	width: 20px;
	height: 4px;
	background-color: #014e6d;
	margin: 3px 0;
}

section {
	max-width: 1170px;
	margin: 0 auto;
}

section div img {
	max-width: 250px;
	margin: 0 auto;
}

.big-image {
	max-width: 375px;
}

article {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	font-weight: 300;
	margin-left: 20px;
}

h2 {
	display: block;
	padding-bottom: 10px;
	font-weight: 700;
}

footer.grid {
	margin: 30px;
	padding: 20px;
	font-family: 'Roboto Condensed', sans-serif;
}

@media handheld, only screen and (max-width: 767px) {
  .menu {
    display: inline-block;
  }

  .col-1-2 {
  	padding-top: 0;
  }

  header h1 {
  	font-size: 30px;
  	font-weight: 800;
  }

  nav {
    display: none;
  }

  nav.open {
    display: inherit;
  }

  nav a {
    display: block;
    border-right: none;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
  }
}