header {
	background-color: black;
}

header h2 {
	color: #F3F3F3;
	padding-left: 20px;
	display: inline-block;
}

nav {
  	text-align: right;
}

nav a {
	color: #F3F3F3;
  	padding: 1.5em 0;
  	display: inline-block;
  	text-decoration: none;
}

nav a:hover {
	color: yellow;
}

.logo {
	display: relative;
}

.menu {
	display: none;
  	position: absolute;
  	right: 25px;
  	padding: 24px 0;
  	cursor: pointer;
}

.hamburger {
	width: 16px;
	height: 3px;
	background-color: white;
	margin: 3px 0;
}

@media handheld, only screen and (max-width: 767px) {
  .menu {
    display: inline-block;
  }

  nav {
    text-align: center;
    display: none;
  }

  nav.open {
    display: inherit;
  }

  nav a {
    display: block;
  }
}