body {
	font-family: "Source Sans Pro", sans-serif;
	background-color: #e3e3e3;
}

header {
	background-color: black;
	border-bottom: 5px solid yellow; 
}

header h1 {
	color: yellow;
	font-family: 'Merriweather', serif;
	padding-left: 30px;
	font-size: 28px;
}

header nav {
	text-align: right;
	padding: 1.9em 0;
}

header nav a {
	color: white;
	font-family: 'Oswald', sans-serif;
	padding: 0 5px;
	text-decoration: none;
	display: inline-block;
}

header nav a:hover {
	color: yellow;
}

h2 {
	font-family: "Merriweather", serif;
}

.tagline {
	font-family: "Merriweather", serif;
	text-align: center;
	font-style: italic;
	background-color: #C6C6C6;

}

#taste {
	color: #808080;
}

#are {
	display: inline-block;
	border-bottom: 3px solid yellow;
}

.image {
    background: url('../img/coworking.jpg');
    background-position: 100%;
    background-size: cover;
    padding-right: 20px;
}

.profile {
	background: rgba(237, 237, 237, 0.7);
	padding: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0 0 1px 1px #808080;
}

.profile-button {
	font-family: "Oswald", sans-serif;
	background-color: yellow;
	padding: 10px;
	margin: 20px;
	text-align: center;
	box-shadow: 0 5px 5px -3px #808080;
	border-radius: 4px;

}

.profile-button:hover {
	background-color: white;
}

.empty {
	background: rgba(0, 0, 0, 0);
	margin-bottom: 20px;
	box-sizing: border-box;
	opacity: 0;
}

.action-container {
	background-color: #ededed;
	padding-top: 20px;
	padding-left: 0;
}

.action {
	background-color: #ededed;
	padding: 20px;
	border-right: 1px solid #C6C6C6;
	margin: 0;
}

.action:last-child {
	border-right: 5px solid #808080;
}

.action-button {
	font-family: "Oswald", sans-serif;
	background-color: #C6C6C6;
	padding: 10px;
	margin: 20px;
	text-align: center;
	box-shadow: 0 5px 5px -3px #808080;
	border-radius: 4px;
}

.action-button:hover {
	background-color: yellow;
}

.footer {
	background-color: black;
	color: white;
	margin: 0;
	padding-top: 30px;
	padding: 20px;
} 

